<!DOCTYPE html>
<html>
  <head>
    <title>Music App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div id="title"><a href="google.com" class="title-link">Music App</a></div>
        <nav id="links">
          <ul>
            <li><a href="<%= new_session_url %>" class="nav-link">Sign in</a></li>
            <li><a href="<%= new_user_url %>" class="nav-link">Sign up</a></li>
          </ul>
        </nav>
    </header>

    <%= yield %>
  </body>
</html>
