<!DOCTYPE html>
<html>
  <head>
    <title>Music App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div id="title"><a href="/session/new" class="title-link">Music App</a></div>

      <% if !current_user.nil? %>
        <nav id="logged-in-out-links">
          <ul>
            <li>Logged in as: <%= current_user.email %></li>
            <li>
              <form action="<%= session_url %>" method="POST">
                <input type="hidden"
                        name="authenticity_token"
                        value="<%= form_authenticity_token %>">
                <input type="hidden" value="delete" name="_method" />
                <input type="submit" value="Logout" />
              </form>
            </li>
          </ul>
        </nav>
    <% else %>
      <nav id="links">
        <ul>
          <li><a href="<%= new_session_path %>" class="nav-link">Sign in</a></li>
          <li><a href="<%= new_user_path %>" class="nav-link">Sign up</a></li>
        </ul>
      </nav>
    <% end %>
  </header>
    </header>
    <br>
    
    <%= yield %>
  </body>
</html>
