<% action_url = (cat.persisted? ? cat_url(cat) : cats_url) %>
<% method = (cat.persisted? ? :patch : :post) %>

<form action="<%= action_url %>" method="post">
  <% if method == :patch %>
    <input type="hidden" name="_method" value="patch" />
  <% end %>

  <label for="name-field">Name</label>
  <input 
    type="text" 
    id="name-field" 
    name="cat[name]" 
    value="<%= cat.name %>">

  <br />
  <br />

  <label>Choose one option:</label>
  <label for="male">Male</label>
  <input 
    type="radio" 
    id="male" 
    value="M" 
    name="cat[sex]"
    <%= cat.sex == "M" ? "checked" : "" %>>
  
  <label for="female">Female</label>
  <input 
    type="radio" 
    id="female" 
    value="F" 
    name="cat[sex]"
    <%= cat.sex == "F" ? "checked" : "" %>>

  <br />
  <br />

  <label for="color-field">Color</label>
  <select id="color-field" name="cat[color]">
    <option disabled selected="-- Choose a Color --">-- Choose a Color --</option>
    <option value="Orange" <%= cat.color == "Orange" ? "selected" : ""%> >Orange</option>
    <option value="Black" <%= cat.color == "Black" ? "selected" : ""%> >Black</option>
    <option value="Tabby" <%= cat.color == "Tabby" ? "selected" : ""%> >Tabby</option>
    <option value="Tuxedo" <%= cat.color == "Tuxedo" ? "selected" : ""%> >Tuxedo</option>
    <option value="Dilute-tortie" <%=cat.color == "Dilute-tortie" ? "selected" : ""%> >Dilute-tortie</option>
    <option value="Grey" <%= cat.color == "Grey" ? "selected" : ""%> >Grey</option>
    <option value="White" <%= cat.color == "White" ? "selected" : ""%> >White</option>
    <option value="Calico" <%= cat.color == "Calico" ? "selected" : ""%> >Calico</option>
  </select>

  <br />
  <br />

  <label for="date-field">Birth-date</label>
  <input 
    type="date" 
    id="date-field" 
    name="cat[birth_date]" 
    value="<%= cat.birth_date %>"/>

  <br />
  <br />

  <label for="description-field">Description</label>
  <br />
  <textarea name="cat[description]" id="description-field">
    <%= cat.description %>
  </textarea>

  <br />
  <br />

  <% submit_text = (cat.persisted? ? 'Update' : 'Create') + ' cat!' %>
  <input type="submit" value="<%= submit_text %>">
</form>