<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <center>
    <body>
      <table style="width:100%", class="styled-table">
      
      <h1> <%= @cat.name %></h1>
        <thead>
            <tr>
              <td>Attribute</td>
              <td>Value</td>
            </tr>
        </thead>

        <tbody>
        
          <tr>
            <td>Age</td>
            <td><%= @cat.age %></td>
          </tr>

          <tr>
            <td>Birth_date</td>
            <td><%= @cat.birth_date %></td>
          </tr>

          <tr>
            <td>Color</td>
            <td><%= @cat.color %></td>
          </tr>

          <tr>
            <td>Sex</td>
            <td><%= @cat.sex %></td>
          </tr>

          <td><%= @cat.description %></td>
          </tr>
        </tbody>
      </table>

      <h2>Rental Requests</h2>
      <table style="width:100%", class="styled_table-2">
        <thead>
          <tr>
            <td>Start date</td>
            <td>End date</td>
            <td>Status</td>
          </tr>
        </thead>

        <% @cat.cat_rental_requests.order('start_date').each do |request| %>
          <tbody>
            <tr>
              <td><%= request.start_date %></td>
              <td><%= request.end_date %></td>
              <td><%= request.status %></td>
            </tr>
          </tbody>
        <% end %>
      </table>

      <br>
      <br>

      <button type="button">Approve</button>
      <button type="button">Deny</button>
    </body>
  </center>
</html>