<center>
<h1> <%= @cat.name %></h1>
<table style="width:100%">
  <tr>
    <td>Attribute</td>
    <td>Value</td>
  </tr>

  <tr>
    <td>Age</td>
    <td><%= @cat.age %></td>
  </tr>

  <tr>
    <td>Birth_date</td>
    <td><%= @cat.birth_date %></td>
  </tr>

  <tr>
    <td>Color</td>
    <td><%= @cat.color %></td>
  </tr>

  <tr>
    <td>Sex</td>
    <td><%= @cat.sex %></td>
  </tr>

  
 
  <td><%= @cat.description %></td>
</tr>

</table>

<h3>Rental Requests</h3>
<table style="width:100%">
  <tr>
    <td>Start date</td>
    <td>End date</td>
    <td>Status</td>
  </tr>
  <% @cat.cat_rental_requests.order('start_date').each do |request| %>
    <tr>
      <td><%= request.start_date %></td>
      <td><%= request.end_date %></td>
      <td><%= request.status %></td>
    </tr>
  <% end %>
</table>

<br>
<br>

<button type="button">Approve</button>
<button type="button">Deny</button>
</center>