<!DOCTYPE html>
<html>
  <head>
    <title>RedditOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    
      <nav class="home_link">
        <a href="<%= subs_url %>">Home</a>
      </nav>

        <% if current_user.nil? %>
          <nav class="logged_out_links">
            <ul class="log_out_links"> 
              <li>
                <a href="<%= new_user_url %>">Sign up</a>
              </li>

              <li>
                <a href="<%= new_session_url %>">Sign in</a>
              </li>
            </nav>
          </ul>

        <% else %>
          <nav class="logged_in">
            <ul>
              <li id="logged_in">
                Logged in as: <%= current_user.username %>
              </li>
              <li>
                <form action="<%= session_url %>" method="POST">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                  <input type="hidden" value="delete" name="_method" />
                  <input type="submit" value="Logout" />
                </form>
              </li>
            </nav>
          </ul>
        <% end %>
    </header>
    <%= yield %>
  </body>
</html>
