<!DOCTYPE html>
<html>
  <head>
    <title>GOAL APP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <h1><a href="<%= users_url %>">GOAL APP 🐈</a></h1>
      <% if current_user.nil? %>
        <ul>
          <li><a href="<%= new_user_url %>">Sign up</a></li>
          or
          <li><a href="<%= new_session_url %>">Log in</a></li>
          </div>
      <% else %>
        <li>Welcome <%= current_user.username %></li>
          <li>
          <form action="<%= session_url %>" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
            <input type="hidden" value="delete" name="_method" />
            <input type="submit" value="Logout" />
          </li>
          </form>
        </ul>
      <% end %>
    </div>
    <%= yield %>
    
  </body>
</html>
