<h1><%= @sub.title %></h1>

<div class="sub_description">
  <h4>Subreddit Description:</h4>

  <%= @sub.description %>
  
  <h4><a href="<%= new_post_url %>">Make new post!</a></h4>

  <h4>Posts on This Subreddit:</h4>

  <ul>
    <% @posts.each do |post| %>
      <li><a href="<%= post_url(post) %>"><%= post.title %></a></li>
    <% end %>
  </ul>

  <a href="<%= edit_sub_url(@sub) if @sub.moderator == current_user %>">Edit</a>

</div>

