<% privacy = (@user.goal.private) ? "Private" : "Public" %>
<% completedness = (@user.goal.completed) ? "Complete" : "Ongoing" %>

<%= @user.goals.each do |goal| %>
  <li>
    <a href="<%= goal_url(goal) %>"><%= goal.title %></a>
  </li>
  <li><%= goal.description %></li>
  <li><%= privacy %></li>
  <li><%= completendess %></li>
<% end %>
