<h2> <%= @user.username %>'s Profile </h2>

<h3>New Comment</h3>
<form>
  <h3>Comment</h3>
  <input type="text" id="comment_box" name=user[comment]></input>
  <input type="submit" value="Save Comment"\>
</form>
<h3><%= @user.username %>'s Goals:</h3>

<div class="profile-section">
  <% if @user == current_user %>
    <a href="<%= new_goal_url %>">New Goal</a>
  <% end %>

  <%= @user.goals.each do |goal| %>
    <li><%= goal %></li>
  <% end %> 

</div>

<a href="<%= users_url %>">All Users</a>