<h1><%= @post.title %></h1>

<div class="post_details">
  <h4>Content:</h4>

  <%= @post.content %>

  <h4>Posted on These Subreddits:</h4>

  <ul>
    <% @post.subs.each do |sub| %>
      <li><a href="<%= sub_url(sub) %>"><%= sub.title %></a></li>
    <% end %>
  </ul>

  <h4>Comments:</h4>
  <ul>
      <li><a href="<%= new_post_comment_url(@post.id) %>">Comment on This Post!</a></li>
  </ul>

  <ul>
    <% parent_comment = @post.comments.where(parent_comment_id: nil) %>
  </ul>

  <a href="<%= edit_post_url %>">Edit</a>
</div>
